<html>
    <head>
        <title>Ross's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ross's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Első blogposzt</a></h2>
            <p>Ez az első blogposzt.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Második blogposzt</a></h2>
            <p>Ez a második blogposzt.</p>
        </div>
    </body>
</html>
